.about{
    height: 100%;
    width: 70%;
    margin: auto;
    background-color: blanchedalmond;
    margin-top: 2%;
    padding: 3%;
    box-shadow: 2px 3px 4px black;
}

.about h1{
    color: rgb(122, 100, 66);
    height: 2.5rem;
    width: 95%;
    border-bottom: 2px solid rgb(122, 100, 66);
    padding: 2% 0;
}
.about button {
    font-size: 3rem;
    background-color: blanchedalmond;
    outline: none;
    border: none;
    padding: 2% 0;
}
.btn{
    padding: 2%;
}
.btn button{
    height: 4rem;
    width: 14rem;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: tomato;
    cursor: pointer;
}

.btn button:hover{
    background-color: rgb(145, 65, 53);
}